@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: #3867d6;
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
